<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet" init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugEndpointServletInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.server.spring.StringXDI3StatementConverter" />
				<bean class="xdi2.server.spring.StringXDI3SegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3SubSegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3XRefConverter" />
			</list>
		</property>
	</bean>

	<!-- PERSONAL CONNECTOR SERVLET -->

	<bean id="ConnectServlet" class="xdi2.connector.personal.ConnectServlet" init-method="init" destroy-method="destroy">
		<property name="graph" ref="graph1" />
		<property name="personalApi" ref="personalApi" />
	</bean>

	<!-- MESSAGING TARGET at /personal -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean id="personalMappingGraphfactory" class="xdi2.core.impl.wrapped.classpath.ClasspathGraphFactory">
		<property name="classpath" value="/xdi2/connector/personal/mapping/mapping.xdi" />
		<property name="mimeType" value="text/xdi;contexts=0;ordered=1" />
	</bean>

	<bean id="personalMappingGraph" factory-bean="personalMappingGraphfactory" factory-method="openGraph" />

	<bean id="personalContributor" class="xdi2.connector.personal.contributor.PersonalContributor">
		<property name="personalApi" ref="personalApi" />
		<property name="personalMapping">
			<bean class="xdi2.connector.personal.mapping.PersonalMapping">
				<property name="mappingGraph" ref="personalMappingGraph" />
			</bean>
		</property>
	</bean>

	<bean id="personalApi" class="xdi2.connector.personal.api.PersonalApi" init-method="init" destroy-method="destroy">
		<property name="appId" value="2hmsfwb28jkmtuetxzk82x7r" />
		<property name="appSecret" value="CyhuffsrBqdTfzTAsdMB9D6v" />
		<property name="scope" value="read_0000,read_0001" />
		<property name="update" value="true" />
	</bean>

	<bean name="/personal" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!1111" />
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<ref bean="personalContributor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:map>
				<entry key="+(https://personal.com/)" value-ref="personalContributor" />
			</util:map>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /mapping -->
	<!-- MessagingTarget: GraphMessagingTarget -->

	<bean name="/mapping" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="personalMappingGraph" />
	</bean>

</beans>
