<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI FILTER -->

	<bean id="EndpointFilter" class="xdi2.server.EndpointFilter">
		<property name="endpointServlet" ref="EndpointServlet" />
	</bean>

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet"
		init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugEndpointServletInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- PERSONAL CONNECTOR SERVLET -->

	<bean id="ConnectServlet" class="xdi2.connector.personal.ConnectServlet"
		init-method="init" destroy-method="destroy">
		<property name="graph" ref="graph1" />
		<property name="personalApi" ref="personalApi" />
	</bean>

	<!-- MESSAGING TARGET at /personal -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean id="personalContributor" class="xdi2.connector.personal.contributor.PersonalContributor">
		<property name="personalApi" ref="personalApi" />
		<property name="personalMapping">
			<bean class="xdi2.connector.personal.mapping.PersonalMapping" />
		</property>
	</bean>

	<bean id="personalApi" class="xdi2.connector.personal.api.PersonalApi" init-method="init" destroy-method="destroy">
		<property name="appId" value="2hmsfwb28jkmtuetxzk82x7r" />
		<property name="appSecret" value="CyhuffsrBqdTfzTAsdMB9D6v" />
		<property name="scope" value="read_0000,read_0001" />
		<property name="update" value="true" />
	</bean>

	<bean name="/personal" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!1111" />
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.UniqueDollarIsInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.CheckOwnerInterceptor" />
				<ref bean="personalContributor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:map>
				<entry key="+(https://personal.com/)" value-ref="personalContributor" />
			</util:map>
		</property>
	</bean>

</beans>
